<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">新用户充值统计</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
	找到 {{.Total}} 条结果
    </div>
</div>

<form method="GET">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                    {{input_date .dateStart }}
                </div>
                <div class="col">
                    {{input_date .dateEnd }}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    {{input_text .uid}}
                </div>
                <div class="col">
                    {{input_select .topupReportType }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3">查询</button>
        </div>
    </div>

</form>

<div class="table-responsive">
    <table class="table table-striped table-sm">
	<thead style="white-space: nowrap;">
	    <tr>
		<th>ID</th>
		<th>注册时间</th>
		<th>充值时间</th>
		<th>充值金额</th>
		<th>充值数量</th>
		<th>充值状态</th>
		<th>是否首充</th>
	   </tr>
	</thead>
	<tbody>
	   {{range .Reports}}
	   <tr>
		<td>{{.uid}}</td>
		<td>{{.create_at}}</td>
		<td>{{.updated_datetime}}</td>
		<td>{{.payment_amount}}</td>
		<td>{{.game_coin_amount}}</td>
		<td>{{.order_status}}</td>
		<td>{{.isFirst}}</td>
	   </tr>
	   {{end}}
	</tbody>
    </table>
</div>
{{.pagination}}
