.bootstrap-datetimepicker-widget .collapse.in { display: block; }
.bootstrap-datetimepicker-widget span.glyphicon.glyphicon-time:before {content: "选时间";}
.bootstrap-datetimepicker-widget span.glyphicon.glyphicon-calendar:before {content: "选日期";}
.glyphicon-chevron-left:before { content:"《"; }
.glyphicon-chevron-right:before { content:"》"; }
