<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">验证码查询</h1>
</div>

<form method="GET">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                {{input_text .phone_number }}
                </div>
                <div class="col">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">查询</button>
	    </div>
    </div>

    <table id="vcode" class="table table-bordered">
        <thead>
            <tr>
                {{range $h := index .code_header}}
                <th>{{$h}}</th>
                {{end}}
            </tr>
        </thead>
        <tbody>
            {{range .code_data}}
            <tr>
                {{range $data := index .}}
                <td>{{$data}}</td>
                {{end}}
            </tr>
            {{end}}
        </tbody>
    </table>

</form>
