<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">保险箱使用记录</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <!-- SPACE -->
    </div>
</div>

<script type="text/javascript">
    function tableToExcel(tableid, filename = '') {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableid);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        console.log(tableid);
        // Specify file name
        filename = filename?filename+'.xls':'excel_data.xls';
        console.log(filename);
        // Create download link element
        downloadLink = document.createElement("a");
        console.log(downloadLink);
        document.body.appendChild(downloadLink);

        if(navigator.msSaveOrOpenBlob){
                console.log("aaa");
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            console.log(downloadLink.href);
            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }

    $(document).on('click','th',function(){
        var table = $(this).parents('table').eq(0);
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
        this.asc = !this.asc;
        if (!this.asc){rows = rows.reverse();}
        table.children('tbody').empty().html(rows);
    });
    function comparer(index) {
        return function(a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ?
                valA - valB : valA.localeCompare(valB);
        };
    }
    function getCellValue(row, index){
        return $(row).children('td').eq(index).text();
    }
</script>

<!--
<div class="mb-3">
    <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false"
        aria-controls="collapseSearch">
        查询
    </a>
</div>

<div class="card collapse mb-3" id="collapseSearch">
    <div class="card-body">-->
        <form method="GET">
            <div class="row mb-2">
                <div class="col">
                    {{input_text .uid }}
                </div>
                <div class="col">
                    {{input_select .operate }}
                </div>
            </div>
<!--
            <div class="row">
                <div class="col">
                    {{input_text .amount }}
                </div>
                <div class="col">
                    {{input_text .balance }}
                </div>
            </div>
-->
	     <div class="row">
                <div class="col">
                    {{input_date .dateStart }}
                </div>
                <div class="col">
                    {{input_date .dateEnd }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">查询</button>
	    <button onclick="tableToExcel('LockerlogToExport','保险箱使用记录')" class="btn btn-primary mt-3">导出</button>
        </form>
  <!--  </div>
</div>-->

<table id="Lockerlog" class="table">
    <thead style="white-space: nowrap;">
        <tr>
            <th>保险箱账变ID</th>
            <th>玩家ID</th>
            <th>操作</th>
            <th>金额</th>
    	    <th>操作时间</th>
	    <th>保险箱余额</th>
        </tr>

    </thead>
    <tbody>
        {{range .Lockerlogs}}
        <tr>
            <td>{{.id}}</td>
            <td>{{.uid}}</td>
            <td>{{.operate}}</td>
            <td>{{.amount}}</td>
            <td>{{.date}}</td>
	    <td>{{.balance}}</td>
        </tr>
        {{end}}
    </tbody>
</table>


{{.pagination}}

<table id="LockerlogToExport" class="table" style="display:none">
    <thead style="white-space: nowrap;">
        <tr>
	    <th>保险箱账变ID</th>
            <th>玩家ID</th>
            <th>操作</th>
            <th>金额</th>
            <th>操作时间</th>
            <th>保险箱余额</th>            
        </tr>

    </thead>
    <tbody>
        {{range .LockerlogsToExport}}
        <tr>
	    <td>{{.id}}</td>
            <td>{{.uid}}</td>
            <td>{{.operate}}</td>
            <td>{{.amount}}</td>
            <td>{{.date}}</td>
            <td>{{.balance}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
