<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">批量添加统计</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        找到 {{.Total}} 条结果
        共有{{.NumPages}}页
    </div>
</div>

        <form method="GET">
            <div class="row mb-2">
                <div class="col">
                    {{input_text .uid }}
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{input_date .dateStart }}
                </div>
                <div class="col">
                    {{input_date .dateEnd }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">查询</button>
	    </form>

<table id="coin" class="table">
    <thead style="white-space: nowrap;">
        <tr>
            <th>玩家ID</th>
            <th>操作原因</th>
            <th>操作前金额</th>
            <th>操作金额</th>
            <th>操作后金额</th>
            <th>其他参数</th>
            <th>操作时间</th>
        </tr>

    </thead>
    <tbody>
        {{range .Gamecoins}}
        <tr>
            <td>{{.uid}}</td>
            <td>{{.reason}}</td>
            <td>{{if .before}}{{.before}}{{end}}</td>
            <td>{{if .used}}{{.used}}{{end}}</td>
            <td>{{if .after}}{{.after}}{{end}}</td>
            <td>{{.other_info}}{{if .other_info1}}{{.other_info1}}{{end}}</td>
            <td>{{.operating_time}}</td>
        </tr>
        {{end}}
    </tbody>
</table>

{{.pagination}}

