<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">留存</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        找到 {{.Total}} 条结果
        共有{{.NumPages}}页
    </div>
</div>
<style type="text/css">
#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
    background: #acc8dd;
}
#keywords thead tr th.headerSortUp span {
    background-image: url('./up.png');
}
#keywords thead tr th.headerSortDown span {
    background-image: url('./down.png');
}
</style>
<script type="text/javascript">
    function tableToExcel(tableid, filename = '') {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableid);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        console.log(tableid);
        // Specify file name
        filename = filename?filename+'.xls':'excel_data.xls';
        console.log(filename);
        // Create download link element
        downloadLink = document.createElement("a");
        console.log(downloadLink);
        document.body.appendChild(downloadLink);

        if(navigator.msSaveOrOpenBlob){
                console.log("aaa");
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            console.log(downloadLink.href);
            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
    $(document).on('click','th',function(){
    	var table = $(this).parents('table').eq(0);
    	var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
    	this.asc = !this.asc;
    	if (!this.asc){rows = rows.reverse();}
    	table.children('tbody').empty().html(rows);
    });
    function comparer(index) {
    	return function(a, b) {
        	var valA = getCellValue(a, index), valB = getCellValue(b, index);
        	return $.isNumeric(valA) && $.isNumeric(valB) ?
            	valA - valB : valA.localeCompare(valB);
    	};
    }
    function getCellValue(row, index){
    	return $(row).children('td').eq(index).text();
    }
</script>
<!--
<div class="mb-3">
    <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false"
        aria-controls="collapseSearch">
        查询
    </a>
</div>

<div class="card collapse mb-3" id="collapseSearch">
    <div class="card-body">-->
        <form method="GET">
            <div class="row mb-2">
                <div class="col">
                    {{input_date .dateStart }}
                </div>
                <div class="col">
                    {{input_date .dateEnd }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">查询</button>
	    <button onclick="tableToExcel('StaysToExport', '留存')" class="btn btn-primary mt-3">导出</button>
        </form>
 <!--   </div>
</div>-->

<div class="table-responsive">
    <table id="keywords" class="table table-striped table-sm">
        <thead style="white-space: nowrap;">
            <tr>
                <th>日期</th>
                <th>注册人数</th>
                <th>次日留存</th>
                <th>3日留存</th>
                <th>7日留存</th>
                <th>15日留存</th>
                <th>30日留存</th>
                <th>60日留存</th>
                <th>90日留存</th>
            </tr>
        </thead>
        <tbody>
            {{range .Stays}}
            <tr>
                <td>{{.log_day}}</td>
                <td>{{.countReg}}</td>
                <td>{{.count_d01}}</td>
                <td>{{.count_d03}}</td>
                <td>{{.count_d07}}</td>
                <td>{{.count_d15}}</td>
                <td>{{.count_d30}}</td>
                <td>{{.count_d60}}</td>
                <td>{{.count_d90}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{.pagination}}

<table id="StaysToExport" class="table table-striped table-sm" style="display:none">
        <thead style="white-space: nowrap;">
            <tr>
               
                <th>日期</th>
                <th>注册人数</th>
                <th>次日留存</th>
                <th>3日留存</th>
                <th>7日留存</th>
                <th>15日留存</th>
                <th>30日留存</th>
                <th>60日留存</th>
                <th>90日留存</th>
            </tr>
        </thead>
        <tbody>
        	{{range .Stays}}
            <tr>
                <td>{{.log_day}}</td>
                <td>{{.countReg}}</td>
                <td>{{.count_d01}}</td>
                <td>{{.count_d03}}</td>
                <td>{{.count_d07}}</td>
                <td>{{.count_d15}}</td>
                <td>{{.count_d30}}</td>
                <td>{{.count_d60}}</td>
                <td>{{.count_d90}}</td>
            </tr>    
	    {{end}}
        </tbody>
    </table>
