<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">代理查询</h1>
</div>

<form method="GET">
    <div class="row mb-2">
        <div class="col">
            {{input_text .uid }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            {{input_date .dateStart }}
        </div>
        <div class="col">
            {{input_date .dateEnd }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">查询</button>
</form>

<form method="GET">
    <button type="submit" class="btn btn-primary mt-3"  name="today" value="curdate()">今天</button>
    <button type="submit" class="btn btn-primary mt-3" name="yesterday" value="curdate() - 1">昨天</button>
    <button type="submit" class="btn btn-primary mt-3" name="past" value="curdate() - INTERVAL DAYOFWEEK(curdate())+6 DAY">过去一周</button>
    <button type="submit" class="btn btn-primary mt-3" name="all" value="current_date()">所有</button>
</form>





<div class="table-responsive">
    <table id="proxy" class="table table-striped table-sm">
        <thead style="white-space: nowrap;">
            <tr>
                <th>代理ID</th>
                <th>时间</th>
                <th>兑换码</th>
                <th>推广数量</th>
                <th>激活数量</th>
                <th>赠送数量</th>
                <th>被赠送数量</th>
                <th>累计数量</th>
                <th>累计金额</th>
                <th>服务费</th>
                <th>领取数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{range .Proxys}}
            <tr>
                <td>{{.uid}}</td>
                <td>{{.operating_time}}</td>
                <td>{{.promo_code}}</td>
                <td>{{.promo_num}}</td>
                <td>{{.active_num}}</td>
                <td>{{.send_num}}</td>
                <td>{{.receive_num}}</td>
                <td>{{.total_num}}</td>
                <td>{{.total_amount}}</td>
                <td>{{.service_tax}}</td>
                <td>{{.count_completed}}</td>
                <td><a class="btn btn-sm btn-primary" style="white-space: nowrap;"
                        href="/proxy/user/?uid={{.uid}}">详情</a></a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{.pagination}}